/* base.css */

:root {
  --color-primary: #6DB3F2;
  --color-secondary: #080A23;
  --color-background: #FAF9F6;
  --color-text: #FFFFFF;
  --color-border: var(--color-secondary);
  --color-heading: var(--color-primary);
  --color-link: #29ABE2;
  --color-link-hover: #1D7CAB;
}


/* Adicione regras para tamanhos de tela menores */
@media (max-width: 768px) {
  :root {
    /* Ajuste cores ou outros estilos se necessário */
  }
}
