@import './base.css';

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
.green {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-link-hover);
  }
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

h1, h2, h3 {
  color: var(--color-heading);
}
